:root{
  background-image:url('../images/taylor-wright-2aSpCOPNyO0-unsplash.jpg');
  color:rgb(148, 0, 0);
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav>button {
  padding: 8px;
  margin: 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid red;
  color:rgb(231, 165, 79);
}

.active {
  background-color: rgb(148, 0, 0);
  color:rgb(231, 165, 79);
}

.wrapper {
  width: max(50%, 400px);
  border-radius: 48px;
  padding:48px;
  background-color: rgba(0,0,0,.7);
}

body {
  position:relative;
  display: flex;
  justify-content: center;
}

.modal {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-box {
  width:50vw;
  height:50vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

label {
  display:block;
  margin:16px 0px 8px 0px;
}

textarea {
  margin-bottom: 16px;
  width: 100%;
  height: 8em;
}

footer {
  margin-top: 32px;
  font-size: 0.8em;
}